<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} ToDo... {% endblock title %}</title>

    <link rel="stylesheet" href="/static/css/mystyle.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Mansalva&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/2a4c597f5e.js"></script>
</head>
<body>
    <h1>ToDo...</h1>

    <div class="dashboard">
        <div class="sidebar">
            <div class="profile">
                <div class="list-item edit_profile">
                    {% block profile %}
                    {% endblock profile %}
                </div>
                <hr>
            </div>
                {% block lists %}
                {% endblock lists %}
                {% block addlist %}
                {% endblock addlist %}



        </div>
        <div class="content">
            <div class="coverphoto">{% block deleteBtn %} {% endblock deleteBtn %}<h1 style="position: relative; bottom: 14px">{% block subheading %} Home {% endblock subheading %} </h1></div>
            {% block content %}
            {% endblock content%}
        </div>
    </div>



</body>
</html>