{% extends "base.html" %}

{% block title %} {{ itemlist.list_name }} {% endblock title %}

{% block subheading %} Delete  "{{ itemlist.list_name }}" {% endblock subheading %}

{% block profile %}
        <a href="/edit" style="color:black; text-decoration: none;">
        <div><i class="fas fa-user-circle"></i></div></a>
        <div> {{ user.username }} </div>
{% endblock profile %}

{% block addlist %}
<div class="list-item add-list">
    <a href="/" style="color:black; text-decoration: none;">
    <div><i class="fas fa-arrow-left"></i></div>
    </a>
    <div> <strong>Back</strong> </div>
</div>
{% endblock addlist %}

{% block content %}
<div class="wrapper">
    <div class="formL">
        <form method="POST" action="/{{ itemlist.id }}/delete">
            <h3>Are you sure?</h3>
            <button type="submit">Delete list "{{ itemlist.list_name }}" </button>
        </form>
    </div>
</div>
{% endblock content %}