<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} ToDo app {% endblock title %}</title>
    <script src="https://kit.fontawesome.com/2a4c597f5e.js"></script>
    <link rel="stylesheet" href="/static/css/loginstyle.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
</head>
<body>
        <div class="window">
            {% block content %}

            {% endblock content %}
        </div>
</body>
</html>